<a href="https://colab.research.google.com/github/pathansayama/LetsUpgrade-Python-B7-Sayama/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Python Essentials* (2 September 2020)
1. Assignment 1

**Lists**

In [1]:
list1=["10","20.30","Sayama","[78,91,116]"]
print(list1)

['10', '20.30', 'Sayama', '[78,91,116]']

**List in-built Functions**


1. append()	 Adds an element at the end of the list
2. clear() 	Removes all the elements from the list
3. copy()	 Returns a copy of the list
4. count()	Returns the number of elements with the specified value
5. extend()	 Add the elements of a list (or any iterable), to the end of the current list
6. index()	Returns the index of the first element with the specified value
7. insert()	 Adds an element at the specified position
8. pop()	Removes the element at the specified position
9. remove()	 Removes the item with the specified value
10. reverse()	 Reverses the order of the list
11. sort()	Sorts the list

In [9]:
list1=["10","20.30","Sayama","[78,91,116]"]
print(list1)
print(list1.sort())
print(list1.reverse())
print(list1.insert(4,"Pathan"))
print(list1.append(2020))
print(list1.pop())

['10', '20.30', 'Sayama', '[78,91,116]']
None
None
None
None
2020

**Tuples**

In [6]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1)
print(tuple1[2:5])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('cherry', 'orange', 'kiwi')

**Tuple in-built Functions**


1. count()	Returns the number of times a specified value occurs in a tuple
2. index()	Searches the tuple for a specified value and returns the position of where it was found

In [15]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1)

tuple1.count("kiwi")

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

1

**Sets**

In [16]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
print(set1)
print(set2)

{'c', 'b', 'a'}
{1, 2, 3}

**Sets in-built Function**

1.   add()	Adds an element to the set
2. difference()	Returns a set containing the difference between two or more sets
3. discard()	Remove the specified item
4. intersection()	Returns a set, that is the intersection of two other sets
5. pop()	Removes an element from the set
6. remove()	Removes the specified element
7. symmetric_difference()	Returns a set with the symmetric differences of two sets
8. union()	Return a set containing the union of sets
9. update()	Update the set with the union of this set and others

In [17]:
set1 = { 1, 2, 3, 4, 5}
set2=  { 6, 7, 8, 9, 1}

set1.add(10)
set1.union(set2)
set2.pop()
set1.difference(set2)
set2.symmetric_difference(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Dictionaries**

In [21]:
mydict = { "vehicle type":"Car",
  "brand":"Ford",
  "model":"Mustang",
  "year":1964
}
print(mydict)

{'vehicle type': 'Car', 'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Dictionary in-built Function**


1. fromkeys()	Returns a dictionary with the specified keys and value
2. get()	Returns the value of the specified key
3. items()	Returns a list containing a tuple for each key value pair
4. keys()	Returns a list containing the dictionary's keys
5. pop()	Removes the element with the specified key
6. update()	Updates the dictionary with the specified key-value pairs
7. values()	Returns a list of all the values in the dictionary

In [23]:
mydict = { "vehicle type":"Car",
  "brand":"Ford",
  "model":"Mustang",
  "year":1964
}
print(mydict)

mydict["color"]="Red"
print(mydict.keys())
print(mydict.values())

{'vehicle type': 'Car', 'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
dict_keys(['vehicle type', 'brand', 'model', 'year', 'color'])
dict_values(['Car', 'Ford', 'Mustang', 1964, 'Red'])

**Strings**

In [24]:
a=input("Enter a String=")

Enter a String=Sayama Pathan

**Strings in-built Functions**

1. lower() Converts a string into lower case
2. upper() Converts a string into upper case
3. split() Splits the string at the specified separator, and returns a list

In [27]:
a="Sayama Pathan"
print(a.upper())
print(a.lower())
print(a.split(','))

SAYAMA PATHAN
sayama pathan
['Sayama Pathan']